body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

#root,
.fill {
  width: 100%;
  height: 100%;
}

.ui.grid .column {
  padding-left: 0!important;
  padding-right: 0!important;
}

.ui.button.active {
  background-color: #d7c2d7 !important;
}
.ui.button.active:hover {
  background-color: #f1def1 !important;
}

.ui.button.theme:hover {
  background-color: #f1def1 !important;
}
