.searchBarPopup {
  position: absolute !important;
  width: 100%;
  z-index: 4;
}

.searchItem:hover {
  background-color: #e1d3ff !important;
}

.searchItem:last-child {
  margin-bottom: 1em !important;
}

.postAuthorPlaceholder {
  padding-left: 0.4em !important;
  padding-block: 0.6em !important;
  width: 100%;
  display: inline-flex !important;
  align-content: center;
}

.placeholderImage {
  height: 30px;
  width: 30px;
  border-radius: 300px;
}

.placeholderUsername {
  width: 66% !important;
  margin-left: 1rem !important;
  margin-bottom: auto !important;
  margin-top: 0 !important;
}

.searchResults {
  padding-bottom: 0em !important;
  max-height: 17em;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.searchResults::-webkit-scrollbar {
  display: none;
}

.searchResultItem {
  background-color: #f0f0f0 !important;
}
