.formInputEdited {
  border-bottom: 1px solid #bababa;
  padding-bottom: 5px!important;
  transition: border-bottom-color 0.2s linear;
}

.formInputNotEdited {
  border-bottom: 1px solid transparent;
  padding-bottom: 5px!important;
  transition: border-bottom-color 0.2s linear;
}

.animatedButton {
  position: relative;
  width: 100px;
  height: 2.8rem;
  margin: auto;
}

.aminatedButtonContent {
  position: absolute;
  bottom: 0.85rem;
}

.formGridColumn {
  display: flex!important;
  justify-content: center!important;
}

.formGridRow {
  margin-block: 0.5em !important;
}
