.likesPopUp::-webkit-scrollbar {
  display: none;
}

.likesPopUp {
  height: 145px;
  width: 150px;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
