.headerWrp {
  background-color: white;
  padding: 1em 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
  border-bottom: 2px solid #cdb1cd;
  -webkit-box-shadow: 0px -7px 10px 8px rgba(97,97,97,0.57);
  -moz-box-shadow: 0px -7px 10px 8px rgba(97,97,97,0.57);
  box-shadow: 0px -7px 10px 8px rgba(97,97,97,0.57);
}

.headerColumn {
  padding-top: 0.5rem !important;
  padding-bottom: 0.1rem !important;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.userInfo {
  display: inline-flex;
  align-content: start;
}

.userInfoNameStatus {
  margin-left: 1rem;
}

.userInfoName {
  color: #282828;
}

.userInfoStatus {
  font-style: italic;
  font-weight: lighter;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.userInfoStatusEdited {
 border-bottom: 1px solid #606060;
}

.userInfoStatusError {
  color: #d24c4c;
  font-size: 0.9rem;
  margin-left: 1rem;
}

.emptyStatusString {
  color: #bababa;
  font-weight: lighter;
  font-size: 0.9rem;
  margin-right: 1rem;
  font-style: italic;
}
